.popup-authorization.js__popup.popup-container
	.popup.popup--authorization
		.popup__body
			.popup__inner
				.popup__close
					.popup__close-ico.desktop-close.js_popup_button_close
						include ../../img/ico/close-ico--white.svg
					.popup__close-ico.mobile-close.js_popup_button_close
						include ../../img/ico/close-ico.svg
				.popup__content.row
					.popup__block.login-block.col
						.popup__title Welcome Back
						.popup__description If you want to post your comment please login with your personal info.
						.popup__btn.login.js__popup_login_open log in
					.popup__block.register-block.col
						.popup__title.white register
						.popup__description Enter your personal details to be able to comment on all the materials on the blog.
						.popup__btn.register.js__popup_register_open Create account