.popup-contact.js__popup.popup-container
	.popup.popup--contact
		.popup__body
			.popup__inner
				.popup__close
					.popup__close-ico.js_popup_button_close
						include ../../img/ico/close-ico.svg
				.popup__content.row
					.popup__title зв’язатися зі мною
					form(action="javascript:void(0)").popup__form
						.popup__textarea
							textarea(placeholder='Напишіть своє повідомлення тут ...').js_validation_textarea
						.popup__input
							.popup__input-title.show Напишіть тут своє повне ім’я ...
							input(type='text').js_validation_name
						.popup__input
							input(type='email').js_validation_email
							.popup__input-title.show Напишіть тут свою email ...
						button(type='submit').popup__btn.white.contact.js_submit_form надішліть своє повідомлення