.section-content__filter-wrapper
  .section-content__filters
    .section-content__filter
      .section-content__filter-input
        input(type='text' placeholder='Рік')
        .section-content__filter-ico.js_filter_years_btn
          include ../../img/ico/arrow-down-thin-ico.svg
      .section-content__filter-list-wrapper.js_filter_years_list
        ul.section-content__filter-list
          li.section-content__filter-item
            label(data-option = '2020').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2020
          li.section-content__filter-item
            label(data-option = '2019').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2019
          li.section-content__filter-item
            label(data-option = '2018').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2018
          li.section-content__filter-item
            label(data-option = '2017').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2017
          li.section-content__filter-item
            label(data-option = '2016').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2016
          li.section-content__filter-item
            label(data-option = '2015').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label 2015

        .section-content__filter-submit-remove
          .section-content__filter-btn.section-content__filter-btn-submit
            button подати заявку
          .section-content__filter-btn.section-content__filter-btn-delete
            button видалити
              span.section-content__filter-counter
      .section-content__filters-choose

    .section-content__filter
      .section-content__filter-input
        input(type='text' placeholder='Теги')
        .section-content__filter-ico.js_filter_tags_btn
          include ../../img/ico/arrow-down-thin-ico.svg
      .section-content__filter-list-wrapper.js_filter_tags_list
        ul.section-content__filter-list
          li.section-content__filter-item
            label(data-option = 'COVID').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label COVID
          li.section-content__filter-item
            label(data-option = 'Політика').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Політика
          li.section-content__filter-item
            label(data-option = 'Крим').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Крим
          li.section-content__filter-item
            label(data-option = 'Пандемія').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Пандемія
          li.section-content__filter-item
            label(data-option = 'Україна').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Україна

        .section-content__filter-submit-remove
          .section-content__filter-btn.section-content__filter-btn-submit
            button(type='submit') подати заявку
          .section-content__filter-btn.section-content__filter-btn-delete
            button(type='submit') видалити
              span.section-content__filter-counter
      .section-content__filters-choose._active

    .section-content__filter.js_filter_types_search_page
      .section-content__filter-input
        input(type='text' placeholder='типу')
        .section-content__filter-ico.js_filter_types_btn
          include ../../img/ico/arrow-down-thin-ico.svg
      .section-content__filter-list-wrapper.js_filter_types_list
        ul.section-content__filter-list
          li.section-content__filter-item
            label(data-option = 'Відео').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Відео
          li.section-content__filter-item
            label(data-option = 'Статей').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label Статей
          li.section-content__filter-item
            label(data-option = 'фото').js_filter_option
              input(type="checkbox")
              span.section-content__filter-item-label фото

      .section-content__filters-choose._active

    .section-content__filter-rem-choose._active
      button видалити фільтри

// filter mobile start

.section__filter-wrapper--mobile.js__popup
  .section__filter-close--mobile.close-filter-btn
    include ../../img/ico/close-ico--white.svg
  .section__filters--mobile
    .section__filter--mobile
      .section__filter-item--mobile.js_filter_tags_btn_mobile
        .section__filter-item-text--mobile
          p теги
        .section__filter-item-open--mobile._active.js_filter_plus--tags
          include ../../img/ico/plus-ico.svg
        .section__filter-item-close--mobile.js_filter_minus--tags
          include ../../img/ico/minus-ico.svg
      .section__filter-list-wrapper--mobile.js_filter_tags_list_mobile
        ul.section-content__filter-list--mobile
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label COVID
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Політика
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Крим
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Пандемія
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна


    .section__filter--mobile
      .section__filter-item--mobile.js_filter_years_btn_mobile
        .section__filter-item-text--mobile
          p рік
        .section__filter-item-open--mobile._active.js_filter_plus--years
          include ../../img/ico/plus-ico.svg
        .section__filter-item-close--mobile.js_filter_minus--years
          include ../../img/ico/minus-ico.svg
      .section__filter-list-wrapper--mobile.js_filter_years_list_mobile
        ul.section-content__filter-list--mobile
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label COVID
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Політика
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Крим
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Пандемія
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна







    .section__filter--mobile
      .section__filter-item--mobile.js_filter_types_btn_mobile
        .section__filter-item-text--mobile
          p типу
        .section__filter-item-open--mobile._active.js_filter_plus--types
          include ../../img/ico/plus-ico.svg
        .section__filter-item-close--mobile.js_filter_minus--types
          include ../../img/ico/minus-ico.svg
      .section__filter-list-wrapper--mobile.js_filter_types_list_mobile
        ul.section-content__filter-list--mobile
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label COVID
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Політика
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Крим
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Пандемія
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна
          li.section-content__filter-item
            label
              input(type="checkbox")
              span.section-content__filter-item-label Україна





  .section__filter-btn--mobile
    .section__filet-cansel-btn--mobile
      button(type='submit') скасувати фільтри
    .section__filet-submit-btn--mobile
      button(type='submit') застосувати

// filter mobile end