.popup-email.js__popup.popup-container
	.popup.popup--email
		.popup__body
			.popup__inner
				.popup__close
					.popup__close-ico.js_popup_button_close
						include ../../img/ico/close-ico.svg
				.popup__content.row
					form(action="javascript:void(0)").popup__form
						.popup__input
							input(type='email').js_validation_email
							.popup__input-title.contact-email Ваша електронна адреса
						button(type='submit').popup__btn.white.email.js_submit_form вислати