.popup-email.js__popup
	.popup-email__body
		.popup-email__inner
			.popup-email__close
				.popup-email__close-ico.mobile-close.js_popup_button_close
					include ../../img/ico/close-ico.svg
			.popup-email__content.row
				form(action="javascript:void(0)").popup-email__form
					.popup-email__email
						input(type='email').js_validation_email
						.popup-email__input-item.popup-email__input-title.show Ваша електронна адреса
					button(type='submit').popup-email__btn.email.js_submit_form вислати