footer.footer
	.container-fluid.container
		.footer__inner
			.footer__content.row
				.footer__social.col
					.footer__social-title
						h2.site-title__small-18 Слідуй за мною
					.footer__social-icons
						.footer__social-icon
							a(href='#')
								include ../../img/ico/socail-footer-1-ico.svg
						.footer__social-icon
							a(href='#')
								include ../../img/ico/socail-facebook-footer-ico.svg
						.footer__social-icon
							a(href='#')
								include ../../img/ico/socail-twitter-footer-ico.svg
						.footer__social-icon
							a(href='#')
								include ../../img/ico/socail-youtube-footer-ico.svg
						.footer__social-icon
							a(href='#')
								include ../../img/ico/socail-insta-footer-ico.svg
					.footer__social-contact.desktop-contact
						a(href='#') Зв'яжіться зі мною
					.footer__social-contact.mobile-contact
						a(href='#') НАПИШ ДО мЕНЕ
				.footer__links.col
					.footer__links-menu
						.footer__links-title.js_footer-menu-btn
							h2.site-title__small-18 Меню
							.footer__links-title-ico.mobile-content
								include ../../img/ico/plus-ico.svg
						ul.footer__links-list
							li.footer__links-item
								a(href='#') Про Мене
							li.footer__links-item
								a(href='#') Відео
							li.footer__links-item
								a(href='#') Статтей
							li.footer__links-item
								a(href='#') Фото
					.footer__links-info
						.footer__links-title.js_footer-info-btn
							h2.site-title__small-18 Інформація
							.footer__links-title-ico.mobile-content
								include ../../img/ico/plus-ico.svg
						ul.footer__links-list
							li.footer__links-item
								a(href='#') Політика конфіденційності
							li.footer__links-item
								a(href='#') Політика конфіденційності
							li.footer__links-item
								a(href='#') Умови обслуговування
							li.footer__links-item
								a(href='./terms-of-use.html') Юридична інформація
							li.footer__links-item
								a(href='#') Cookies

				.footer__partner.col
					.footer__partner-title.js_footer-partner-btn
						h2.site-title__small-18 Мої друзі
						.footer__links-title-ico.mobile-content
							include ../../img/ico/plus-ico.svg
					.footer__partner-dashboard
						.footer__partner-row
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg
							.footer__partner-item
								a(href='#')
									include ../../img/ico/logo-ico.svg


		.footer__rights.row
			.footer__rights-icon
				picture
					source(srcset="img/image/logo-footer.webp" type="image/webp")
					img(src="img/image/logo-footer.png" alt="img").lazyload

			.footer__rights-text
				| Всі права захищен Айдер Муждабаєв
	.move-up-btn-container
		.move-up-btn
			span Догори
			include ../../img/ico/arrow-right-ico--white.svg