header.header
	.container-fluid.container
		.header__inner
			.header__logo-wrapper
				.header__logo
					picture
						source(srcset="img/image/logo-header.webp" type="image/webp")
						img(src="img/image/logo-header.png" alt="img").lazyload
			.header__nav-wrapper
				.header__nav
					.header__nav-item.site-title__small
						a(href='#') Home
					.header__nav-item.site-title__small
						a(href='#') Про мене
					.header__nav-item.site-title__small
						a(href='#') Відео
					.header__nav-item.site-title__small
						a(href='#') Статей
					.header__nav-item.site-title__small
						a(href='#') Фото
					.header__nav-item.lang-list-wrapper
						.header__lang-item._active.site-title__small
							a(href='#') UA
						.header__lang-list
							.header__lang-item.site-title__small
								a(href='#') ru
							.header__lang-item.site-title__small
								a(href='#') en
						.header__lang-ico
							include ../../img/ico/arrow-down-header-ico.svg
					.header__nav-item
						.header__search
							include ../../img/ico/search-ico.svg
				.header__menu-mobile-btn
					.header__btn-menu.menu-open._active
						include  ../../img/ico/hamburger.svg
					.header__btn-menu.menu-close
						include  ../../img/ico/close-ico.svg