.mobile-menu.mobile.js__popup
  .mobile-menu__inner
    .mobile-menu__list
      .mobile-menu__item.close-menu-btn
        include ../../img/ico/close-ico--white.svg
      .mobile-menu__item.js_search_mobile_btn
        a(href="#").mobile-menu__link пошук
      .mobile-menu__item
        a(href="./index.html").mobile-menu__link Головна
      .mobile-menu__item
        a(href="./about.html").mobile-menu__link про мене
      .mobile-menu__item
        a(href="./video.html").mobile-menu__link відео
      .mobile-menu__item
        a(href="./articles.html").mobile-menu__link статті
      .mobile-menu__item
        a(href="./photo.html").mobile-menu__link фото