.languages__list--mobile.js_lang_mobile_list
	.languages__list-inner
		.languages__list
			.languages__list-item.js_close-lang-btn
				include ../../img/ico/close-ico--white.svg
			.languages__list-item
				p
					span UA
					span -
					span українською
			.languages__list-item
				p
					span RU
					span -
					span Русский
			.languages__list-item
				p
					span EN
					span -
					span English