.mobile-menu.mobile
  .mobile-menu__inner
    .mobile-menu__list
      .mobile-menu__item.close-menu-btn
        include ../../img/ico/close-ico--white.svg
      .mobile-menu__item
        a(href="#").mobile-menu__link пошук
      .mobile-menu__item
        a(href="./testimonials.html").mobile-menu__link Головна
      .mobile-menu__item
        a(href="#").mobile-menu__link про мене
      .mobile-menu__item
        a(href="#").mobile-menu__link відео
      .mobile-menu__item
        a(href="./about.html").mobile-menu__link статті
      .mobile-menu__item
        a(href="./contacts.html").mobile-menu__link фото