.popup-register.js__popup.popup-container
	.popup.popup--register
		.popup__body
			.popup__inner
				.popup__close
					.popup__close-ico.js_popup_button_close
						include ../../img/ico/close-ico--white.svg
				.popup__content.row
					.popup__logo
						include ../../img/ico/logo-ico.svg
					.popup__title.white Create Account
					form(action="javascript:void(0)").popup__form
						.popup__input.white
							.popup__input-title.show.white Type your full name
							input(type='text').js_validation_name
						.popup__input.white
							input(type='email').js_validation_email
							.popup__input-title.show.white Type your email address

						.popup__input.white
							.popup__input-title.show.white  Type your password
							input(type='password').js_validation_password
							.popup__input-ico.popup__input-ico--hidden._active
								include ../../img/ico/viewes-ico--hidden-white.svg
							.popup__input-ico.popup__input-ico--show
								include ../../img/ico/viewes-ico-white.svg
						button.popup__btn.white.js_submit_form REGISTER
					.popup__info.white By register, you agree to our terms of services