.popup-register
	.popup-register__body
		.popup-register__inner
			.popup-register__close
				.popup-register__close-ico.desktop-close
					include ../../img/ico/close-ico--white.svg
				.popup-register__close-ico.mobile-close
					include ../../img/ico/close-ico.svg
			.popup-register__content.row
				.popup-register__content-btn.register Create account