.popup-reset.js__popup.popup-container
	.popup.popup--reset
		.popup__body
			.popup__inner
				.popup__close
					.popup__close-ico.js_popup_button_close
						include ../../img/ico/close-ico.svg
				.popup__content
					.popup__title Reset your password
					.popup__subtitle Enter your email address and we’ll send you a link to reset your password
					form(action="javascript:void(0)").popup__form
						.popup__input
							input(type='email').js_validation_email
							.popup__input-title.show Type your email address
						button(type='submit').popup__btn.black.js_submit_form send reset link
					.popup__info
							a(href='tel:#') need more help? contact support