.popup-authorization.js__popup
	.popup-authorization__body
		.popup-authorization__inner
			.popup-authorization__close
				.popup-authorization__close-ico.desktop-close.js_popup_button_close
					include ../../img/ico/close-ico--white.svg
				.popup-authorization__close-ico.mobile-close.js_popup_button_close
					include ../../img/ico/close-ico.svg
			.popup-authorization__content.row
				.popup-authorization__content-block.login-block.col
					.popup-authorization__content-title Welcome Back
					.popup-authorization__content-description If you want to post your comment please login with your personal info.
					.popup-authorization__content-btn.login.js__popup_login_open log in
				.popup-authorization__content-block.register-block.col
					.popup-authorization__content-title register
					.popup-authorization__content-description Enter your personal details to be able to comment on all the materials on the blog.
					.popup-authorization__content-btn.register.js__popup_register_open Create account