.search__popup.js_search_list.js__popup
	.search__inner
		.search__close-btn.js_close-search-btn
			include ../../img/ico/close-ico--white.svg
		.search__input
			input(type='search' placeholder='введіть свій пошук тут')
		.search__list
			.search__list-item
				|	Чи Україна має вступити до НАТО?
			.search__list-item
				| політика
			.search__list-item
				| Крим
			.search__list-item
				| пандемія
			.search__list-item
				| COVID
			.search__list-item
				| політика
			.search__list-item
				| Крим
			.search__list-item
				| пандемія
			.search__list-item
				| COVID
			.search__list-item
				| політика
			.search__list-item
				| Крим
			.search__list-item
				| пандемія
			.search__list-item
				| COVID