//include _mixins

block vars
	- var cacheFix = parseInt(Math.random()*1000)

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title mobile blog
		meta(name="description", content='description content')

		//font preload
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-ExtraBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-Medium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="./fonts/FiraSansExtraCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin)


		//favicon
		link(rel="icon" href="./img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="./img/favicon/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png")
		link(rel="manifest" href="./img/favicon/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")
		meta(name='theme-color' content='#ffffff')

		//link(rel='stylesheet', href='./css/libs/bootstrap-grid.min.css?' + cacheFix)
		//link(rel='stylesheet', href='./css/libs/bootstrap-grid.css?' + cacheFix)
		link(rel='stylesheet', href='./css/libs/swiper-bundle.min.css?' + cacheFix)
		link(rel='stylesheet', href='./css/main.css?' + cacheFix)

	body(class="page " + pageClass)
		.page__wrapper
			include modules/_header

			main.page__content
				block content

			include modules/_footer
			include modules/_mobile-menu
			include modules/_mobile-lang
			include modules/_mobile-search
			include modules/_authorization-popup
			include modules/_login-popup
			include modules/_register-popup
			include modules/_contact-popup
			include modules/_email-popup
			include modules/_reset-pasword-popup

			// example
			//if (pageActive === "consolidation")
			//  include modules/_consolidations-popup

			include modules/_site-popup.pug

		block scripts
			script(src='./js/libs/lazysizes.min.js')
			script(src='./js/libs/swiper-bundle.min.js')
			script(src='./js/validate-form.js')
			script(src='./js/main.js?' + cacheFix)
