extends _layout

block vars
	- var pageTitle = "About page";
	- var pageClass = "aboutpage";
	- var pageActive = "aboutpage";

block content
	div.main-wrap
		.current-page.mobile-current-page
			a(href='#') Про мене
		.section-article
			.container-fluid.container
				.section-article__inner.row
					.section-article__image-wrapper.col-4
						.section-article__image
							picture
								source(srcset="img/image/about/about-1.webp" type="image/webp")
								img(src="img/image/about/about-1.png" alt="img").lazyload
						.section-article__title.article-title-mobile
							.section-article__title-text
								h1 Айдер<br>Муждабаєв
					.section-article__subtitle-text.article-subtitle-mobile
						h2 журналіст, блогер

					.section-article__text.col-8
						.section-article__title
							.section-article__title-text
								h1 Айдер<br>Муждабаєв
							.section-article__subtitle-text
								h2 журналіст, блогер

						.section-article__content
							.section-article__content-text
								p.site-text__large-24 Сегодня в Киеве прошла очередная пресс-конференция президента Украины Владимира Зеленского. Я не буду подробно анализировать ее содержание, поскольку главного вопроса о противостоянии с Россией никто из журналистов президенту так и не задал. А касаться этот вопрос должен был прямого ультиматума Путина, зачитанного вчера с присланной из Москвы шпаргалки т.н. "главой ЛНР" в его "экстренном видеообращении".
								p.site-text__large-24 О чем там идет речь? О том, что, якобы, украинские войска разрушают гражданскую инфраструктуру "ЛНР". Сначала рот "главы ДНР" зачитывает эту брехню, а затем "ставит условие" президенту Украины, которое сжато можно выразить так:
								p.site-text__bold-24.text-quote Если вы и дальше не будете "стремиться к миру" на условиях Путина, то российские войска пойдут в наступление на тех участках фронта, где Генштаб РФ посчитает нужным, и "отодвинет" вглубь Украины линию соприкосновения.
									span.text-quote-quotes
										include ../img/ico/quores-ico.svg
								p.site-text__large-24 Не будем оценивать военную реалистичность этого "блицкрига", обсудим то, что за его угрозой стоит.
								p.site-text__large-24 Путин грозит помножить на ноль все договоренности о разведении сил и прочую "мирную" лабуду, которая для русских ничего не стоит. Цель – принудить власти нашей страны принять т.н. "Минск-3" на продиктованных Россией условиях. Иначе – обострение в ОРДЛО, никакого "мира", обещанного украинцам на выборах год назад, и так далее. Путин хорошо знает болезненные внутриполитические точки Зеленского и целенаправленно по ним бьет. При этом видно, как хозяин Кремля спешит дестабилизировать Украину, для которой его условия "мира" категорически неприемлемы: президент Украины никогда на них не пойдет, как бы ни звучала его фамилия.
								p.site-text__large-24 Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
								p.site-text__large-24 Поэтому сегодня на пресс-конференции президента представитель телеканализации под названием "НАШ" публично протранслировал Владимиру Зеленскому ложь о том, что якобы Ленур Ислямов – гражданин России.
