extends _layout

block vars
	- var pageTitle = "article page";
	- var pageClass = "article-page";
	- var pageActive = "article-page";

block content
	div.main-wrap
		.current-page.mobile-current-page
			a(href='#') відео
		.section-article-item__btn-back.section-article-item__btn-back-mobile
			a(href='./articles.html')
				span
					include ../img/ico/arrow-left-ico.svg
				span BACK
		.section-article-item__container
			.container-fluid.container
				.section-article-item__body-container.row
					.section-article-item__reviews--mobile
						.section-dashboard__item-date-rewiews
							p.article-date 14.10.2010
							.section-dashboard__item-date-rewiews-counter
								.section-dashboard__item-comment
									include ../img/ico/comments-icosvg.svg
									span 123
								.section-dashboard__item-rewiews
									include ../img/ico/viewes-ico.svg
									span 284

					.section-article-item__author-mobile
						p Айдер Муждабаєв
					.section-article-item__title
						h2.large-title Секрети
						h2 психології Путіна

					.section-article-item__body.section-article-item__body-article-page
						.section-article-item__author.col-3
							.section-article-item__author-avatar
								picture
									source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-srcset="./img/image/avatar-circle.webp" type="image/webp").lazyload
									img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="./img/image/avatar-circle.png" alt='img' width="380" height="230").lazyload

							.section-article-item__name Айдер Муждабаєв
							.section-article-item__info Поэтому сегодня на пресс-конференции президента представитель телеканализации под названием "НАШ" публично протранслировал Владимиру Зеленскому ложь о том, что якобы Ленур Ислямов – гражданин России.


						.section-article-item__description.col
							.section-article-item__description-inner
								.section-article-item__subtitle.section-article-item__subtitle--red
									h2 Путин ставит ультиматум Зеленскому
								.section-article-item__date
									.section-dashboard__item-date-rewiews
										p.article-date 14.10.2010

								.section-article-item__text
									.section-article__content-text
										.section-article-item__paragraph.site-text__bold-24 Сегодня в Киеве прошла очередная пресс-конференция президента Украины Владимира Зеленского. Я не буду подробно анализировать ее содержание, поскольку главного вопроса о противостоянии с Россией никто из журналистов президенту так и не задал. А касаться этот вопрос должен был прямого ультиматума Путина, зачитанного вчера с присланной из Москвы шпаргалки т.н. "главой ЛНР" в его "экстренном видеообращении".
										.section-article-item__paragraph.site-text__large-24 О чем там идет речь? О том, что, якобы, украинские войска разрушают гражданскую инфраструктуру "ЛНР". Сначала рот "главы ДНР" зачитывает эту брехню, а затем "ставит условие" президенту Украины, которое сжато можно выразить так:
										.section-article-item__paragraph.site-text__large-24 "Если вы и дальше не будете "стремиться к миру" на условиях Путина, то российские войска пойдут в наступление на тех участках фронта, где Генштаб РФ посчитает нужным, и "отодвинет" вглубь Украины линию соприкосновения"
										.section-article-item__paragraph.site-text__bold-24.text-quote Не будем оценивать военную реалистичность этого "блицкрига", обсудим то,   что за его угрозой стоит.
											span.text-quote-quotes
												include ../img/ico/quores-ico.svg
										.section-article-item__paragraph.site-text__large-24 Путин грозит помножить на ноль все договоренности о разведении сил и прочую "мирную" лабуду, которая для русских ничего не стоит. Цель – принудить власти нашей страны принять т.н. "Минск-3" на продиктованных Россией условиях. Иначе – обострение в ОРДЛО, никакого "мира", обещанного украинцам на выборах год назад, и так далее. Путин хорошо знает болезненные внутриполитические точки Зеленского и целенаправленно по ним бьет. При этом видно, как хозяин Кремля спешит дестабилизировать Украину, для которой его условия "мира" категорически неприемлемы: президент Украины никогда на них не пойдет, как бы ни звучала его фамилия.
										.section-article-item__paragraph.site-text__large-24 Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
										.section-article-item__paragraph.site-text__large-24 Поэтому сегодня на пресс-конференции президента представитель телеканализации под названием "НАШ" публично протранслировал Владимиру Зеленскому ложь о том, что якобы Ленур Ислямов – гражданин России.
									.section-article-item__img
										picture
											source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-srcset="./img/image/photo/photo-8.webp" type="image/webp").lazyload
											img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="./img/image/photo/photo-8.png" alt='img' width="380" height="230").lazyload



									.section-article-item__paragraph Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
									.section-article-item__paragraph Поэтому сегодня на пресс-конференции президента представитель телеканализации под названием "НАШ" публично протранслировал Владимиру Зеленскому ложь о том, что якобы Ленур Ислямов – гражданин России.
									.section-article-item__tags
										span
											a(href='#') #KRYM
										span
											a(href='#') #UKRAINA
										span
											a(href='#') #COVID
										span
											a(href='#') #PANDEMIA
									.section-article-item__social
										.section-article-item__social-ico
											a(href='#')
												include ../img/ico/socail-facebook-footer-ico.svg
										.section-article-item__social-ico
											a(href='#')
												include ../img/ico/linkedin.svg
										.section-article-item__social-ico
											a(href='#')
												include ../img/ico/socail-twitter-footer-ico.svg
									.section-article-item__btn-back
										a(href='./articles.html')
											span
												include ../img/ico/arrow-left-ico.svg
											span повернутися до статтей


				.section-article-item__comments.row
					.section-article-item__comments-top
						.section-article-item__comments-title
							.section-article-item__comments-title-ico
								a(href='')
									include ../img/ico/comments-icosvg.svg
							.section-article-item__comments-title-text 24  коментарів
						.section-article-item__btn-login--mobile
							.section-article-item__btn-login--mobile-text.js_authorization_open Log in or register to leave your comment
							.section-article-item__btn-login--mobile-ico
								include ../img/ico/arrow-right-ico--white.svg

					.section-article-item__comments-body-container
						.section-article-item__comments-body
							ul.section-article-item__comments-body-list
								li.section-article-item__comments-item-container
									.section-article-item__comments-item
										.section-article-item__comments-item-user-ico
											a(href='')
												include ../img/ico/user-template-ico.svg
										.section-article-item__comments-item-wrapper
											.section-article-item__comments-item-info
												.section-article-item__comments-item-user-name
													span додав
													span.user-name
														a(href='#') Павло Бабченко
													span ,
												.section-article-item__comments-item-date 21 вересня 2020 o 15:17
											.section-article-item__comments-item-text Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
											.section-article-item__comments-item-answer-btn.js_add_comment відповісти:

											.section-article-item__comment-answer-form
												.section-article-item__comment-answer-textarea
													textarea.comment_area(placeholder='Пишіть тут...')
												.section-article-item__comment-answer-btn.js_comment_submit
													button Потім відповідь

									ul.section-article-item__comments-body-list
										//li.section-article-item__comments-item-container
										//	.section-article-item__comments-item
										//		.section-article-item__comments-item-user-ico
										//			a(href='')
										//				include ../img/ico/user-template-ico.svg
										//		.section-article-item__comments-item-wrapper
										//			.section-article-item__comments-item-info
										//				.section-article-item__comments-item-user-name
										//					span додав
										//					span.user-name
										//						a(href='#') Павло Бабченко
										//					span ,
										//				.section-article-item__comments-item-date 21 вересня 2020 o 15:17
										//			.section-article-item__comments-item-text Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
										//			.section-article-item__comments-item-answer-btn.js_add_comment відповісти:
										//
										//			.section-article-item__comment-answer-form
										//				.section-article-item__comment-answer-textarea
										//					textarea.comment_area(placeholder='Пишіть тут...')
										//				.section-article-item__comment-answer-btn.js_comment_submit
										//					button Потім відповідь
										//
										//
										//	ul.section-article-item__comments-body-list
										//		li.section-article-item__comments-item-container
										//			.section-article-item__comments-item
										//				.section-article-item__comments-item-user-ico
										//					a(href='')
										//						include ../img/ico/user-template-ico.svg
										//				.section-article-item__comments-item-wrapper
										//					.section-article-item__comments-item-info
										//						.section-article-item__comments-item-user-name
										//							span додав
										//							span.user-name
										//								a(href='#') Павло Бабченко
										//							span ,
										//						.section-article-item__comments-item-date 21 вересня 2020 o 15:17
										//					.section-article-item__comments-item-text Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
										//					.section-article-item__comments-item-answer-btn.js_add_comment відповісти:
										//
										//					.section-article-item__comment-answer-form
										//						.section-article-item__comment-answer-textarea
										//							textarea.comment_area(placeholder='Пишіть тут...')
										//						.section-article-item__comment-answer-btn.js_comment_submit
										//							button Потім відповідь
										//
										//			ul.section-article-item__comments-body-list
										//
										//
										//li.section-article-item__comments-item-container
										//	.section-article-item__comments-item
										//		.section-article-item__comments-item-user-ico
										//			a(href='')
										//				include ../img/ico/user-template-ico.svg
										//		.section-article-item__comments-item-wrapper
										//			.section-article-item__comments-item-info
										//				.section-article-item__comments-item-user-name
										//					span додав
										//					span.user-name
										//						a(href='#') Павло Бабченко
										//					span ,
										//				.section-article-item__comments-item-date 21 вересня 2020 o 15:17
										//			.section-article-item__comments-item-text Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
										//			.section-article-item__comments-item-answer-btn.js_add_comment відповісти:
										//
										//			.section-article-item__comment-answer-form
										//				.section-article-item__comment-answer-textarea
										//					textarea.comment_area(placeholder='Пишіть тут...')
										//				.section-article-item__comment-answer-btn.js_comment_submit
										//					button Потім відповідь
										//
										//	ul.section-article-item__comments-body-list

							.section-article-item__comments-body-container
								.section-article-item__comments-body

									ul.section-article-item__comments-body-list
										li.section-article-item__comments-item-container
											.section-article-item__comments-item
												.section-article-item__comments-item-user-ico
													a(href='')
														include ../img/ico/user-template-ico.svg
												.section-article-item__comments-item-wrapper
													.section-article-item__comments-item-info
														.section-article-item__comments-item-user-name
															span додав
															span.user-name
																a(href='#') Павло Бабченко
															span ,
														.section-article-item__comments-item-date 21 вересня 2020 o 15:17
													.section-article-item__comments-item-text Кроме этого "мирного" ультиматума, Кремль продолжает наступление – пока медийное – на крымском направлении. Ему не дает покоя то, что Верховная Рада, Правительство, Президент, наконец, разблокировали государственную поддержку телеканалу ATR, что про воду в Крым больше нигде на официальном уровне не говорится, как и о снятии с России каких-либо санкций. То есть – задание, поставленное Кремлем своим агентам влияния и медиадиверсантам в Украине, провалено. Но "боевая" задача для них осталась. А Меджлис крымскотатарского народа, телеканал ATR и лично его гендиректор Ленур Ислямов как координатор Гражданской блокады Крыма 2015 года являются теми важнейшими мишенями, по которым нужно продолжать палить как и из чего только можно.
													.section-article-item__comments-item-answer-btn.js_add_comment відповісти:

													.section-article-item__comment-answer-form
														.section-article-item__comment-answer-textarea
															textarea.comment_area(placeholder='Пишіть тут...')
														.section-article-item__comment-answer-btn.js_comment_submit
															button Потім відповідь


								ul.section-article-item__comments-body-list

						//.section-article-item__comment-form
						//	.section-article-item__comment-form-title напишіть свій коментар
						//	.section-article-item__comment-form-wrapper
						//		.section-article-item__comments-item-user-ico
						//			a(href='')
						//				include ../img/ico/user-template-ico.svg
						//		.section-article-item__comment-answer-wrapper
						//			.section-article-item__comment-answer-textarea
						//				textarea.comment_area(placeholder='Пишіть тут...')
						//			.section-article-item__comment-answer-btn.js_comment_submit
						//				button після вашої відповіді
