extends _layout

block vars
	- var pageTitle = "Articles page";
	- var pageClass = "articlespage";
	- var pageActive = "articlespage";

block content
	div.main-wrap
	.section-articles
		.filter-icon
			include ../img/ico/filters-ico.svg
		.current-page.mobile-current-page
			a(href='#') Статті
		.container-fluid.container
			.section-articles__inner.row
				include ./modules/_content-filter

				.section-articles__content.row
					.section-articles__date
						p.article-date 14.10.2010
					.section-articles__author
						p.site-text__bold-24 Айдер Муждабаєв
					.section-articles__title
						h2 ПУТИН СТАВИТ УЛЬТИМАТУМ ЗЕЛЕНСКОМУ.
					.section-articles__body
						.section-articles__text
							p.site-text__large-24 Сегодня в Киеве прошла очередная пресс-конференция президента Украины Владимира Зеленского. Я не буду подробно анализировать ее содержание, поскольку главного вопроса о противостоянии с Россией никто из журналистов президенту так и не задал.
						.section-articles__tags
							.section-articles__tags-content
								span #KRYM
								span #UKRAINA
								span #COVID
								span #PANDEMIA
						.section-articles__reaction
							.section-articles__reaction-views
								.section-articles__reaction-view
									include ../img/ico/viewes-ico.svg
									span 168
								.section-articles__reaction-comment
									include ../img/ico/comments-icosvg.svg
									span 53
							.section-articles__reaction-button
								a(href='#') перейти до статті
								span
									include ../img/ico/arrow-right-ico--white.svg

			.section-videos__pagination.row
				.section-videos__pagination-content.col
					.section-videos__pagination-numbers
						span
							a(href='#')._active 01
						span
							a(href='#') 02
						span
							a(href='#') 03
						span
							a(href='#') 04
					.section-videos__pagination-btn
						.section-videos__pagination-btn-next
							a(href='#') Next
						.section-videos__pagination-btn-arrow
							a(href='#')
								include ../img/ico/arrow-right-ico.svg
								include ../img/ico/arrow-right-ico.svg