extends _layout

block vars
	- var pageTitle = "Terms page";
	- var pageClass = "termspage";
	- var pageActive = "termspage";

block content
	div.main-wrap
		.section-terms
			.current-page.mobile-current-page
				a(href='#') Умови
			.container-fluid.container
				.section-terms__inner.row
					.section-terms__title
						h2 Умови використання
					.section-terms__text-container
						.section-terms__text-wrapper
							.section-terms__text-paragraph
								| Цей веб-сайт, мобільний додаток чи інший цифровий або онлайн-додаток чи послуга управляється Дональдом Дж. Трампом для компанії President, Inc. (“DJTFP”, “ми”, “ми” або “наш”). Ці Умови використання поширюються виключно на ваш доступ та використання веб-сайту donaldjtrump.com, керованого DJTFP, та інших веб-сайтів DJTFP, мобільних додатків або цифрових або онлайн-додатків чи послуг, які посилаються на ці Умови надання послуг (разом, "Сайти"). Ці Умови надання послуг жодним чином не змінюють умови будь-якої іншої угоди, яку ви можете укласти з DJTFP щодо продуктів, послуг чи іншим чином.

							.section-terms__text
								.section-terms__text-subtitle 1. ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ.
								.section-terms__text-paragraph
									| Будь ласка, зверніться до нашої Політики конфіденційності, інформації про те, як ми збираємо, використовуємо та розкриваємо інформацію, що ідентифікує особу користувачів Сайтів.

							.section-terms__text
								.section-terms__text-subtitle 2. COPYRIGHT AND LIMITED LICENSE.
								.section-terms__text-paragraph
									| Unless otherwise indicated on the Sites, the Sites and all content and other materials thereon, including, without limitation, DJTFP’s logo, and all designs, text, graphics, pictures, information, data, software, tools, widgets, sound files, other files and the selection and arrangement thereof (collectively, the "Site Materials") are the proprietary property of DJTFP or its licensors or users and are protected by U.S. and international copyright laws. Unless explicitly stated herein, nothing in these Terms of Service shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise.
								.section-terms__text-paragraph
									| You are granted a limited, non-sublicensable license to access and use the Sites and the Site Materials for your informational, non-commercial and personal use only. Such license is subject to these Terms of Service and does not include: (a) any resale or commercial use of the Sites or the Site Materials therein; (b) the reproduction, distribution, public performance or public display of any Site Materials, except as expressly permitted on the Site; (c) modifying or otherwise making any derivative uses of the Sites and the Site Materials, or any portion thereof; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Sites, the Site Materials or any information contained therein, except as expressly permitted on the Sites; or (f) any use of the Sites or the Site Materials other than for its intended purpose. This license is revocable at any time.

							.section-terms__text
								.section-terms__text-subtitle 3. ПОВТОРИТИ ПОЛІТИКУ, ЩО ВИНИКАЄ.
								.section-terms__text-paragraph
									| Відповідно до Закону про захист авторських прав у цифрову епоху (DMCA) та інших чинних законів DJTFP прийняв політику припинення дії абонентів або власників облікових записів, які вважаються повторними порушниками, за відповідних обставин, визначених DJTFP на власний розсуд. DJTFP може також на власний розсуд обмежити доступ до Сайтів та / або припинити облікові записи будь-яких користувачів, які порушують будь-які права інтелектуальної власності інших осіб, незалежно від того, чи є повторне порушення.

							.section-terms__text
								.section-terms__text-subtitle 4. ТОРГОВІ ЗНАКИ.
								.section-terms__text-paragraph
									| Усі логотипи та слогани, що містяться на Сайтах, є товарними знаками DJTFP, його постачальників або ліцензіарів або інших третіх сторін, і їх не можна копіювати, імітувати або використовувати повністю або частково без попереднього письмового дозволу DJTFP або відповідного власника торгової марки . Ви не можете використовувати будь-які метатеги або будь-який інший "прихований текст" із використанням "DJTFP" або будь-якого іншого найменування, торгової марки чи назви товару чи послуги DJTFP без попереднього письмового дозволу DJTFP. Крім того, зовнішній вигляд Сайту - включаючи всі заголовки сторінок, власну графіку, піктограми кнопок та сценарії - є знаком обслуговування, товарним знаком та / або торговою сукнею DJTFP, і його не можна копіювати, імітувати чи використовувати в цілому або частково, без попереднього письмового дозволу DJTFP. Усі інші торгові марки, зареєстровані торгові
