.filter-icon {
	display: none;
	position: absolute;
	top: 20px;
	left: 102px;
	cursor: pointer;

	@include for-750 {
		display: block;
	}
}


.section-content {


	&__filters {
		display: flex;
		margin-top: 120px;
		margin-bottom: 100px;
		@include for-680 {
			display: none;
		}
	}

	&__filter {
		position: relative;
		margin-right: 20px;
		cursor: pointer;
	}

	&__filter-input {
		display: flex;
		align-items: center;
		border: 1px solid #000;
		padding: 14px 15px;
		max-width: 240px;

		input {
			display: flex;
			max-width: 220px;
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-size: 21px;
			color: #000;
			text-transform: uppercase;
			width: 100%;
			@include for-992{
				max-width: 170px;
			}
		}
	}

	&__filter-list-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		z-index: 99;
		background-color: #fff;
		border: 1px solid #000;
		top: 80px;
		left: 0;
		padding: 19px 15px;
		min-width: 240px;
		height: 355px;
		transform: translateY(-120%);
		visibility: hidden;
		transition: .3s;
		opacity: 0;
		z-index: -1;

		&._active {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
			z-index: 5;
		}
		@include for-992{
			max-width: 220px;
			min-width: 220px;
		}
	}

	&__filter-ico {
		&._active {
			transform: rotate(180deg);
		}
	}

	&__filter-list--mobile {
		overflow-y: scroll;
		margin-bottom: 10px;
		max-height: 240px;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: #fff;
			border: 1px solid;
			border-radius: 2px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #000;
			outline: none;
		}
	}


	&__filter-item {
		margin-bottom: 20px;

		input[type="checkbox"] {
			display: none;
		}

		label {
			display: flex;
			font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
			font-weight: 400;
			font-size: 21px;
			line-height: 26px;
			//width: 100%;

			span {
				position: relative;
				padding-left: 40px;
				cursor: pointer;

				&:before {
					content: '';
					z-index: 5;
					position: absolute;
					left: 0;
					top: 0;
					width: 18px;
					height: 18px;
					border: 2px solid black;
					border-radius: 2px;
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 20px;
					height: 20px;
					background: white;
				}
			}

			input[type="checkbox"]:checked ~ span {
				&:after {
					background-color: black;
					background: url("../img/ico/tick-ico.svg");
					background-size: 18px;
					background-repeat: no-repeat;
					background-position: center;

				}
			}
		}
	}

	&__filter-tick-container {
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;

	}

	&__filter-submit-remove {
		text-align: center;
		margin-top: 20px;
	}

	&__filter-btn {
		margin: 0 auto;

		button {
			cursor: pointer;
			padding: 8px 20px;
			width: 100%;
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
		}
	}

	&__filter-btn-submit {
		background-color: #000;
		color: #fff;
		transition: .3s;
		border: 1px solid transparent;
		&:hover{
			border: 1px solid #000;
			background-color: #fff;
			color: #000;
		}
	}

	&__filter-counter {
		margin-left: 5px;
	}


	&__filters-choose {
		margin-top: 25px;
		display: flex;
	}

	&__filter-tick {

		span {
			font-family: 'FiraSansExtraCondensed-SemiBold', sans-serif;
			font-weight: 600;
			font-size: 21px;
			line-height: 26px;
			text-transform: uppercase;

			color: #000000;
			margin-left: 10px;

			svg {
				* {
					transition: .3s;
				}
			}
		}

		&:hover {
			svg {
				path {
					fill: #F20303;
				}
			}
		}
	}

	&__filter-rem-choose {
		button {
			padding: 10px 22px;
			min-width: 240px;
			min-height: 60px;
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 21px;
			line-height: 26px;
			text-transform: uppercase;
			color: #FFFFFF;
			background-color: #000;
			transition: .3s;
			border: 1px solid transparent;
			&:hover{
				color: #000;
				background-color: #fff;
				border: 1px solid #000;
				cursor: pointer;
			}
			@include for-992{
				min-width: 190px;
			}
		}

		@include for-800 {
			display: none;
		}
	}

}
