///* Font */

@font-face {
  font-family: 'FiraSansExtraCondensed-ExtraBold';
  src: url('../fonts/FiraSansExtraCondensed-ExtraBold.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraSansExtraCondensed-Bold';
  src: url('../fonts/FiraSansExtraCondensed-Bold.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraSansExtraCondensed-SemiBold';
  src: url('../fonts/FiraSansExtraCondensed-SemiBold.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraSansExtraCondensed-Medium';
  src: url('../fonts/FiraSansExtraCondensed-Medium.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraSansExtraCondensed-Regular';
  src: url('../fonts/FiraSansExtraCondensed-Regular.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraSansExtraCondensed-Regular';
  src: url('../fonts/FiraSansExtraCondensed-Regular.woff2') format('woff2'),
  url('../fonts/FiraSansExtraCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
