.footer {
	background-color: #262626;

	&__inner {
		padding: 56px 0 20px;
	}

	&__content {
		display: flex;
		margin-bottom: 60px;
		@include for-680 {
			flex-direction: column;
		}
	}

	&__social {

	}

	&__social-title {
		margin-bottom: 15px;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
		@include for-680 {
			display: none;
		}

		h2 {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
		}
	}

	&__social-icons {
		display: flex;
		margin-bottom: 60px;
		@include for-680 {
			justify-content: center;
			margin-bottom: 45px;
		}
	}

	&__social-icon {
		margin: 0 12px;
		transition: .3s;

		&:first-child {
			margin-left: 0
		}

		&:last-child {
			margin-right: 0
		}

		* {
			transition: .3s;
		}


		&:hover > a > svg > * {
			fill: #fff;
		}

	}

	&__social-contact {
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: .3s;

		a {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			transition: .3s;
			&:hover {
				border-bottom: 1px solid #fff;
			}
		}

		&.desktop-contact {
			@include for-680 {
				display: none;
			}
		}

		&.mobile-contact {
			display: none;
			padding: 15px 0;
			border-top: 1px solid #959595;
			@include for-680 {
				display: block;
			}
		}


	}

	&__links {
		display: flex;
		@include for-680 {
			display: block;
			width: 100%;
		}
	}

	&__links-menu {
		position: relative;
		margin-right: 80px;
		@include for-680 {
			margin-right: 0;
		}
	}

	&__links-info {
		position: relative;
	}

	&__links-title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;

		h2 {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
		}

		&:hover {
			cursor: pointer;
		}

		@include for-680 {
			margin-bottom: 0;
			padding: 15px 0;
			padding-right: 13px;
			border-top: 1px solid #959595;
		}
	}

	&__links-title-ico.mobile-content {
		display: none;
		@include for-680 {
			display: block;
		}
	}

	&__links-list {
		@include for-680 {
			//display: none;
			visibility: hidden;
			position: absolute;
			top: -150%;
			left: 0;
			width: 100%;
			background-color: #262626;
			transition: .4s;
			z-index: 5;
		}

		&._active {
			//display: block;
			visibility: visible;
			top: 56px;
		}
	}

	&__links-item {
		color: #959595;
		margin-bottom: 10px;

		a {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			transition: .3s;
		}

		&:hover > a {
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	}

	&__info-list {

	}

	&__partner {
		position: relative;
		@include for-800 {
			margin-top: 50px;
		}
		@include for-680 {
			margin-top: 0;
		}
	}

	&__partner-title {
		display: flex;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 15px;

		h2 {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
		}

		&:hover {
			cursor: pointer;
		}

		@include for-680 {
			justify-content: space-between;
			margin-bottom: 0;
			padding: 15px 0;
			padding-right: 13px;
			border-top: 1px solid #959595;
			border-bottom: 1px solid #959595;

		}
	}

	&__partner-dashboard {
		@include for-680 {
			//display: none;
			visibility: hidden;
			position: absolute;
			bottom: -150%;
			left: 0;
			width: 100%;
			background-color: #262626;
			transition: .4s;
			z-index: 5;
			padding: 0 15px;
		}

		&._active {
			//display: block;
			visibility: visible;
			bottom: 56px;
		}
	}

	&__partner-row {
		display: flex;
		margin-bottom: 22px;
		@include for-680 {
			display: block;
		}
	}

	&__partner-item {
		min-width: 110px;
		min-height: 45px;
		margin: 0 12px;
		transition: .3s;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		@include for-680 {
			margin: 10px 0;
		}


		&:hover {
			transform: scale(1.05);
		}
	}


	&__rights {
		display: flex;
		align-items: center;
		padding-bottom: 20px;

		* {
			padding-right: 0;
			margin-right: 0;
			@include from-680 {
				padding: 0;
				margin: 0;
			}
		}
	}

	&__rights-icon {
		width: unset;
		display: flex;

		@include from-680 {
			margin-right: 9px;
		}

		img {
		}
	}

	&__rights-text {
		width: unset;
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		color: #959595;

	}
}