.mobile-menu {
  display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: #262626;

  &._active{
    display: block;
  }

	&__inner {
		width: 100%;
		height: 100%;
	}

	&__list {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	&__item {
    display: flex;
    justify-content: center;
    border-top: 1px solid #959595;

    &:first-child{
      border-top: 0;
    }
    &:last-child{
      border-bottom: 1px solid #959595;
    }
		a {
      font-family: 'FiraSansExtraCondensed-Medium';
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
			color: #fff;
      min-height: 61px;
      cursor: pointer;
      transition: .3s;
		  &:hover{
        transform: scale(1.1);
      }
    }
	}

	&__item.close-menu-btn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 91px;
    svg{
      max-width: 24px;
      max-height: 24px;
    }
	}
}