.section {
	&__filter-wrapper--mobile {
		display: none;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background-color: #fff;

		&._active {
			display: block;
		}
	}

	&__filters--mobile {
		margin-top: 86px;
	}

	&__filter--mobile {
	}

	&__filter-item--mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 16px 8px;
		border-top: 1px solid #000;

		svg {
			path {
				fill: #000;
			}
		}
	}

	&__filter-item-text--mobile {
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		cursor: pointer;
		width: 100%;

	}

	&__filter-close--mobile {
		text-align: end;
		cursor: pointer;

		svg {
			path {
				fill: #000;
			}
		}
	}

	&__filter-list-wrapper--mobile {
		opacity: 0;
		height: 0;
		margin: 0;
		padding: 0;
		transition: .3s;
		visibility: hidden;

		&._active {
			visibility: visible;
			opacity: 1;
			height: 100%;
			padding: 0 8px;
			margin: 20px 0;
		}
	}

	&__filter-item-open--mobile {
		display: none;
		align-items: center;

		&._active {
			display: flex;
		}
	}

	&__filter-item-close--mobile {
		display: none;
		align-items: center;

		&._active {
			display: flex;
		}
	}

	&__filter-btn--mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		transition: .5s;
		transform: translateY(150%);
		visibility: hidden;
		background-color: #fff;
		//position: absolute;
		//top: 80vh;
		//left: 15px;
		//right: 15px;

		&._active{
			transform: translateY(0);
			visibility: visible;
		}
	}

	&__filet-cansel-btn--mobile {
		button{
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			color: #808080;
			padding: 10px 2px;
			min-width: 152px;
			border: 1px solid #959595;
		}
	}

	&__filet-submit-btn--mobile {
		button{
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			color: #fff;
			padding: 10px 2px;
			min-width: 152px;
			background-color: #000;
		}

	}
}

.section-videos__filter-list--mobile {
	display: block;
	max-height: 240px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: #fff;
		border: 1px solid;
		border-radius: 2px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #000;
		outline: none;
	}
}