@import "./_mixins";
@import "./_colors";


.popup-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	//transition: .3s all;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;

	&.open {
		z-index: 350;
		opacity: 1;
		visibility: visible;
	}
}


.popup {
	width: 100%;
	height: 100%;

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		@include for-800 {
		}
	}

	&__inner {
		width: 100%;
		@include for-800 {
			display: flex;
			justify-content: center;

		}
	}

	&__content {
		height: 100%;
		width: 100%;
		margin: 0 !important;
		padding: 0;

		@include for-800 {
		}
	}

	&__close {
		position: absolute;
		right: 120px;
		top: 120px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 12px;
		height: 12px;
		transition: .3s all;
		z-index: 3;

		&:hover {
			opacity: .7;
		}

		@include for-992 {
			right: 30px;
			top: 30px;
		}
	}

	&__close-ico {
		&.desktop-close {
			@include for-992 {
				display: none;
			}
		}

		&.mobile-close {
			display: none;
			@include for-992 {
				display: block;
			}
		}
	}

	&__logo {
		text-align: center;
		margin-bottom: 30px;
		@include for-680 {
			display: none;
		}
	}

	&__title {
		font-family: 'FiraSansExtraCondensed-Bold', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 80px;
		text-transform: uppercase;
		color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
		//margin-bottom: 90px;
		@include for-680 {
			font-size: 36px;
			line-height: 36px;
			//margin-bottom: 60px;
		}

		&.white {
			color: #fff;
		}
	}

	&__subtitle {
		margin: 0 auto;
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		color: #000000;
		max-width: 375px !important;
		text-align: center;
		margin-top: 50px;

		@include for-680 {
			max-width: 275px;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 50px;
		}
	}


	&__description {
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		max-width: 500px;
		margin-bottom: 53px;
		@include for-680 {
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 15px;
		}
	}


	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 445px !important;
		//margin-bottom: 70px;
		margin: 0 auto;
		padding: 0 !important;
		@include for-800 {
			padding-right: calc(var(--bs-gutter-x) / 2) !important;
			padding-left: calc(var(--bs-gutter-x) / 2) !important;
		}
	}

	&__textarea {
		width: 100%;
		margin-top: 50px;

		textarea {
			resize: none;
			width: 100%;
			min-width: 328px;
			min-height: 168px;
			font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			width: 100%;
			//height: 100%;
			border: 1px solid #000;
			padding: 7px 9px;
			//margin-bottom: 60px;

			&.invalid {

				border-color: #F20303;
				color: #F20303;

				.popup-contact__input-title {
					color: #F20303;
				}
			}
		}

		@include for-680 {
			margin-top: 30px;
		}
	}

	&__input {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		max-width: 445px;
		margin-top: 90px;
		border-bottom: 1px solid #000;
		@include for-680 {
			//max-width: 320px;
		}

		input {
			background-color: transparent;
			width: 100%;
			margin: 0 auto;
			padding: 0 5px 5px;
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			z-index: 5;

		}

		&.white {
			color: #fff;
			border-bottom: 1px solid #ffff;
		}

		&.invalid {
			border-color: #F20303;
			color: #F20303;

			.popup__input-title {
				color: #F20303;
			}
		}


		&--password {
			display: flex;
			justify-content: center;

			//input {
			//	background-color: transparent;
			//	width: 100%;
			//	padding: 0 5px 5px;
			//	font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
			//	font-weight: 500;
			//	font-size: 18px;
			//	line-height: 22px;
			//	z-index: 5;
			//}

		}

		//@include for-680 {
		//	max-width: 325px;
		//}


	}

	&__input-ico {
		position: absolute;
		right: 0;
		z-index: 10;
		display: none;
		transition: .3s;

		&._active {
			display: block;
		}

		&:hover {
			cursor: pointer;
			opacity: .7;
		}

	}

	&__input-title {
		font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		transition: .3s;
		position: absolute;
		//z-index: -1;
		top: -10px;
		left: 0;

		&.white {
			color: #fff;
		}


		@include for-680 {
			margin-bottom: 0;
		}

		&.js_title_to_top {
			top: -40px;
		}

		&.contact-email {
			text-transform: uppercase;
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 24px;
			text-align: center;
			width: 100%;
		}
	}

	&__wrong-field {
		display: none;
		color: #F20303;
		text-align: center;
		text-transform: uppercase;
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 25px;

		&._active {
			display: block;
		}
	}

	&__btn {
		min-height: 60px;
		min-width: 445px;
		text-align: center;
		text-transform: uppercase;
		transition: .3s;
		border: 1px solid transparent;
		cursor: pointer;
		font-family: 'FiraSansExtraCondensed-Bold', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		margin-top: 60px;
		margin-bottom: 25px;

		&.white {
			color: #fff;
			background-color: #262626;
			border: 1px solid #fff;

			&:hover {
				color: #000;
				background-color: #fff;
				border: 1px solid #000;
			}
		}

		&.black {
			color: #000;
			background-color: #fff;
			border: 1px solid #000000;

			&:hover {
				color: #fff;
				background-color: #000;
				border: 1px solid #fff;
			}
		}

		@include for-680 {
			min-width: unset;
			width: 100%;
			padding: 18px 64px;
		}
	}


	&__info {
		margin: 0 auto;
		text-align: center;
		font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		color: #000000;
		transition: .3s;

		&:hover {
			cursor: pointer;
			opacity: .7;
		}

		&.white {
			color: #fff;
		}
	}

	&__block {
		&.login-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			color: #000;
		}

		.popup__title {
			margin-bottom: 60px;

			&.white {
				color: #FFFFFF;
			}
		}

		.popup__btn {
			margin: 0;
			margin-top: 50px;

			&.login {
				background-color: #000;
				color: #FFFFFF;
				border: 1px solid transparent;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: #fff;
					color: #000;
					border: 1px solid #000;
				}
			}

			&.register {
				background-color: #fff;
				color: #000;
				border: 1px solid transparent;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: #000;
					color: #fff;
					border: 1px solid #fff;
				}
			}
		}

		&.register-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #262626;
			color: #fff;
		}
		@include for-800{
			flex: 1 1 100% !important;
		}
	}

	&__steps {
		display: none;
		visibility: hidden;
		position: absolute;
		top: calc(100% + 30px);
		left: 0;
		min-width: 300px;
		background-color: #fff;
		padding: 16px 34px 16px 43px;
		z-index: 99;
		color: #000;
		font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
		font-size: 18px;
		line-height: 23px;

		&._active {
			display: block;
			visibility: visible;
		}

		@include for-800 {
			display: none;
		}
	}

	&__steps-container {

	}

	&__step-title {
		margin-bottom: 11px;
	}

	&__step-item {
		display: flex;
		margin-bottom: 5px;
	}

	&__step-item-radio {
		position: relative;
		margin-right: 10px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 1px solid #000;
		padding: 3px;

		&._checked {
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				background-color: #F20303;
			}
		}
	}


	&.popup--login {
		background-color: #FFFFFF;
	}

	&.popup--reset {
		background-color: #FFFFFF;
		.popup__inner{
			padding: 0 15px;
		}
	}


	&.popup--register {
		background-color: #262626;
	}

	&.popup--contact {
		background-color: #fff;
	}

	&.popup--email {
		background-color: #fff;

		.popup__inner {
			height: 100%;
		}

		.popup__form {
			align-self: flex-start;
			margin-top: 140px;
		}
	}

	&.popup--authorization {
		.popup__inner {
			height: 100%;
		}
	}
}