.search {
	&__popup {
		display: none;
		position: absolute;
		z-index: 101;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 16px;
		background-color: #262626;

		&._active {
			display: flex;
			width: 100%;
			@include for-680{
				display: block;
				//width: unset;
			}
		}
	}

	&__inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include for-680{

		}

	}


	&__list {
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 0 15px;
		max-height: 235px;

		max-width: 682px;
		width: 100%;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: #262626;
			border: 1px solid #959595;
			border-radius: 2px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #fff;
			outline: none;
		}


	}

	&__input {
		input {
			font-family: 'FiraSansExtraCondensed-Medium', sans-serif;
			font-weight: 500;
			font-size: 24px;
			line-height: 30px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			width: 100%;
			padding: 15px 0;


			&::-webkit-search-cancel-button {
				position: relative;
				right: 0;
				width: 15px;
				height: 15px;
				background-image: url("../img/ico/close-ico--white.svg");
				background-repeat: no-repeat;
				background-size: 15px;
				-webkit-appearance: none;
				cursor: pointer;
			}
		}

		border-bottom: 1px solid #959595;
		margin-bottom: 15px;
		max-width: 682px;
		width: 100%;
		@include for-680{

		}
	}

	&__list-item {
		font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 46px;
		color: #FFFFFF;
		text-align: start;
		cursor: pointer;

		&:hover {
		}

	}

	&__close-btn {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 251px;
		border: 0;
		padding: 0;
		cursor: pointer;
		position: relative;
		top: 150px;
		right: -35%;


		&:hover {
			transform: scale(1.05);
		}
		@include for-1100{
			margin-bottom: 90px;
			top: 50px;
		}
		@include for-800{
			margin-bottom: 90px;
			top: 0;
			right: -48%;
		}
	}

}